<div layout="row" layout-align="center stretch">
    <md-card flex="33">
        <md-card-title layout="row" layout-align="space-between center">
            <md-card-title-text >
                <span class="md-headline">Bikes</span>
            </md-card-title-text>
            <md-button class="md-fab md-primary">
                <ng-md-icon icon="add" size="24"></ng-md-icon>
        </md-card-title>
        <md-card-content>
            <md-input-container>
                <label>Pesquise aqui</label>
                <input ng-model="vm.search">
            </md-input-container>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="bike in vm.bikes | filter: vm.search">
                    <ng-md-icon icon="{{vm.iconState(bike.state)}}" size="36">
                        <md-tooltip md-direction="right">{{vm.tipState(bike.state)}}</md-tooltip>
                    </ng-md-icon>
                    <div class="md-list-item-text" layout="column" layout-align="space-around center">
                        <h3>{{bike.name}}</h3>
                        <h4>{{bike.regdate | date:'dd/MM/yyyy hh:mm'}}</h4>
                    </div>
                    <ng-md-icon icon="{{vm.iconRide(bike.onride)}}" size="36">
                        <md-tooltip md-direction="left">{{vm.tipRide(bike.onride)}}</md-tooltip>
                    </ng-md-icon>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
    <!--<ui-view></ui-view>-->
</div>
