<div layout="row" layout-align="space-around center">
    <md-card flex="40">
        <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show"
                    aria-hidden="false" style>
            <div class="md-toolbar-tools">
                <h2 class="md-title">Estações</h2>
                <div flex class="flex"></div>
                <md-button class="md-icon-button md-button md-ink-ripple"
                           type="button" ng-transclude ng-click="vm.filter.show = true"
                           aria-label="filter_list">
                    <md-tooltip md-direction="left">Pesquisar</md-tooltip>
                    <ng-md-icon icon="filter_list"></ng-md-icon>
                    <div class="md-ripple-container"></div>
                </md-button>
                <md-button class="md-icon-button md-button md-ink-ripple"
                           type="button" ng-transclude ng-click="vm.add()"
                           aria-label="add_user">
                    <ng-md-icon icon="add"></ng-md-icon>
                    <md-tooltip md-direction="right">Cadastrar</md-tooltip>
                    <div class="md-ripple-container"></div>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show"
                    aria-hidden="true" style>
            <div class="md-toolbar-tools">
                <ng-md-icon icon="search"></ng-md-icon>
                <form flex name="vm.filter.form" class="ng-pristine ng-valid flex">
                    <input ng-model="vm.query.filter" placeholder="Pesquise aqui" ng-model-options="vm.filter.options" class="ng-pristine ng-untouched ng-valid"
                           aria-invalid="false">
                </form>
                <md-button class="md-icon-button md-button md-ink-ripple"
                           type="button" ng-transclude ng-click="vm.removeFilter()"
                           aria-label="close">
                    <ng-md-icon icon="close"></ng-md-icon>
                    <div class="md-ripple-container"></div>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table aria-invalid="false">
                <thead md-head md-order="vm.query.order">
                    <th md-column md-order-by="state">
                        <span>Estado</span>
                    </th>
                    <th md-column md-order-by="name">
                        <span>Nome</span>
                    </th>
                    <th md-column md-order-by="slots">
                        <span>Slots</span>
                    </th>
                </thead>
                <tbody>
                    <tr md-row
                        ng-repeat="station in vm.stations | filter: vm.query.filter | orderBy: vm.query.order
                        | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit">
                        <td md-cell>
                            <ng-md-icon icon="{{vm.iconState(station.state)}}" size="28">
                                <md-tooltip md-direction="right">{{vm.tipState(station.state)}}</md-tooltip>
                            </ng-md-icon>
                        </td>
                        <td md-cell ng-click="vm.showInfo(station.idstation)">
                            {{station.name}}
                            <md-tooltip md-direction="left">Detalhes</md-tooltip>
                        </td>
                        <td md-cell>{{station.slots}}</td>
                        <td md-cell>
                            <md-button class="md-icon-button md-primary" ng-click="vm.edit($event,station)">
                                <ng-md-icon icon="settings" size="24"></ng-md-icon>
                                <md-tooltip md-direction="left">Configurar</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-accent" ng-click="vm.remove($event,station)">
                                <ng-md-icon icon="clear" size="24"></ng-md-icon>
                                <md-tooltip md-direction="right">Remover</md-tooltip>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]"
                             md-page="vm.query.page" md-total="{{vm.stations.length}}" md-page-select></md-table-pagination>
    </md-card>
</div>
<!--<ui-view></ui-view>-->
