<footer layout="col" layout-align="space-around center">
    <!--<div>
        <div>
            <h3>Quer acompanhar tudo o que rola no UFERSA Vai de Bike?</h3>
            <h5>Inscreva-se na nossa lista de mensagens e receba atualizações!</h5>
            <div layout="row" layout-align="center center">
                <form name="subscribeForm">
                    <md-input-group>
                        <md-input type="email"></md-input>
                        <md-button flex="30" type="submit" class="md-raised">Inscrever</md-button>
                    </md-input-group>
                    PARA SUCESSO E FALHA FUTUROS
                    <div>
                        <div></div>
                        <div></div>
                    </div>
                </form>
            </div>
        </div>
    </div>-->
    <div>
        <div>
            <ul>
                <li>
                    <a href="https://github.com/aretw0/ufersavdb">
                        <md-icon md-svg-src="app/content/img/github.svg" class="s48"></md-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div style="text-align: center;">
        <a href="">UFERSA Vai de Bike</a> é um projeto criado e mantido por
        <a href="https://twitter.com/aretw0">Arthur Aleksandro</a>
        na <a href="https://ufersa.edu.br/">Universidade Federal Rural do Semi Árido</a> - Campus Mossoró.
    </div>
</footer>
