<div flex layout="row" layout-align="space-around center">
    <md-card flex="40">
        <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show"
        aria-hidden="false" style>
            <div class="md-toolbar-tools">
                <h2 class="md-title">Usuários</h2>
                <div flex class="flex"></div>
                <md-button class="md-icon-button md-button md-ink-ripple"
                           type="button" ng-transclude ng-click="vm.filter.show = true"
                           aria-label="filter_list">
                    <ng-md-icon icon="filter_list"></ng-md-icon>
                    <div class="md-ripple-container"></div>
                </md-button>
                <md-button class="md-icon-button md-button md-ink-ripple"
                           type="button" ng-transclude ng-click="vm.addUser()"
                           aria-label="add_user">
                    <ng-md-icon icon="add"></ng-md-icon>
                    <div class="md-ripple-container"></div>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show"
                    aria-hidden="true" style>
            <div class="md-toolbar-tools">
                <ng-md-icon icon="search"></ng-md-icon>
                <form flex name="vm.filter.form" class="ng-pristine ng-valid flex">
                    <input ng-model="vm.query.filter" placeholder="Pesquise aqui" ng-model-options="vm.filter.options" class="ng-pristine ng-untouched ng-valid"
                    aria-invalid="false">
                </form>
                <md-button class="md-icon-button md-button md-ink-ripple"
                           type="button" ng-transclude ng-click="vm.removeFilter()"
                           aria-label="close">
                    <ng-md-icon icon="close"></ng-md-icon>
                    <div class="md-ripple-container"></div>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table aria-invalid="false">
                <thead md-head md-order="vm.query.order">
                    <th md-column md-order-by="state">
                        <span>Situação</span>
                    </th>
                    <th md-column md-order-by="username">
                        <span>Usuário</span>
                    </th>
                    <th md-column md-order-by="regdate">
                        <span>Registro</span>
                    </th>
                    <th md-column md-order-by="onbike">
                        <span>Status</span>
                    </th>
                </thead>
                <tbody>
                    <tr md-row
                        ng-repeat="user in vm.users | filter: vm.query.filter | orderBy: vm.query.order
                        | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit">
                        <td md-cell>
                            <ng-md-icon icon="{{vm.iconState(user.state)}}" size="30">
                                <md-tooltip md-direction="right">{{vm.tipState(user.state)}}</md-tooltip>
                            </ng-md-icon>
                        </td>
                        <td md-cell>
                            {{user.username}}
                        </td>
                        <td md-cell>
                            {{user.regdate | date:'dd/MM/yyyy hh:mm'}}
                        </td>
                        <td md-cell>
                            <ng-md-icon icon="{{vm.iconBike(user.onbike)}}" size="30">
                                <md-tooltip md-direction="right">{{vm.tipBike(user.onbike)}}</md-tooltip>
                            </ng-md-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]"
                             md-page="vm.query.page" md-total="{{vm.users.length}}" md-page-select></md-table-pagination>
    </md-card>
    <!--<ui-view></ui-view>-->
</div>
