<md-content id="toastBounds">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
           <!-- <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>-->

            <h2 flex md-truncate>UFERSA Vai de Bike</h2>

           <!-- <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
            </md-button>-->
        </div>
    </md-toolbar>
    <div layout="row" layout-align="center space-around">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Bem vindo!</span>
                    <span class="md-subhead">Login</span>
                </md-card-title-text>
                <!--<md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>-->
            </md-card-title>
            <form name="loginForm">
            <md-card-content layout="column" layout-align="space-around center">

                    <md-input-container>
                        <label>Usuário</label>
                        <input type="text" name="username" required ng-model="vm.user.username">
                    </md-input-container>
                    <md-input-container>
                        <label>Senha</label>
                        <input type="password" name="senha" required ng-model="vm.user.password">
                    </md-input-container>

            </md-card-content>
            <md-card-actions layout="row" layout-align="space-around center">
                <md-button type="submit" class="md-raised md-primary" flex="50" flex-order="-1" ng-disabled="loginForm.$invalid" ng-click="vm.login(vm.user)">Entrar</md-button>
                <md-button flex="50" flex-order="1" class="md-raised md-warn" ng-click="vm.signUp($event)">Cadastro</md-button>
            </md-card-actions>
            </form>
        </md-card>
    </div>
</md-content>
