<md-content>
    <md-toolbar>
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools">
            <h2 flex md-truncate>UFERSA Vai de Bike - Olá usuário {{vm.user.username}}</h2>
            <md-button class="md-raised md-warn" ng-click="vm.logout()">Sair</md-button>
        </div>
    </md-toolbar>
    <md-nav-bar md-theme="altTheme1" layout="row" layout-align="center space-around" md-selected-nav-item="vm.selectedPage"
    nav-bar-aria-label="Itens de navegação">
        <md-nav-item name="dash" md-nav-sref="home.dash">
            <md-tooltip md-direction="left">Dashboard</md-tooltip>
            <ng-md-icon icon="whatshot" size="36"></ng-md-icon>
        </md-nav-item>
        <md-nav-item name="user" md-nav-sref="home.user">
            <md-tooltip md-direction="bottom">Usuários</md-tooltip>
            <ng-md-icon icon="people" size="36"></ng-md-icon>
        </md-nav-item>
        <md-nav-item name="stations" md-nav-sref="home.station">
            <md-tooltip md-direction="bottom">Estações</md-tooltip>
            <ng-md-icon icon="store" size="36"></ng-md-icon>
        </md-nav-item>
        <md-nav-item name="bike" md-nav-sref="home.bike">
            <md-tooltip md-direction="bottom">Bikes</md-tooltip>
            <ng-md-icon icon="directions_bike" size="36"></ng-md-icon>
        </md-nav-item>
        <md-nav-item name="history" md-nav-sref="home.history">
            <md-tooltip md-direction="bottom">Histórico</md-tooltip>
            <ng-md-icon icon="history" size="36"></ng-md-icon>
        </md-nav-item>
        <md-nav-item name="play" md-nav-sref="home.play">
            <md-tooltip md-direction="right">Simulador</md-tooltip>
            <ng-md-icon icon="local_play" size="36"></ng-md-icon>
        </md-nav-item>
    </md-nav-bar>
    <br>
    <ui-view></ui-view>
</md-content>
