<md-sidenav ng-init="vm.getNames()" flex="20" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-disable-backdrop>
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Adicionar Usuário</h1>
    </md-toolbar>
    <md-content layout-padding flex>
        <form name="vm.userForm" ng-cloak novalidate>
            <md-input-group layout='column' layout-align='space-around none'>
                <md-input-container flex="100" flex-order="-2">
                    <label>Hierarquia</label>
                    <md-select ng-model="vm.user.role">
                        <md-option ng-repeat="role in vm.roles" ng-value="role.cod">{{role.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="100" flex-order="-1">
                    <label>Usuário</label>
                    <input required ng-minlength="6" type="text" name="username" ng-model="vm.user.username">
                    <div ng-messages="vm.userForm.username.$error">
                        <div ng-message="required" ng-hide="vm.userForm.username.$valid">Campo obrigatório.</div>
                        <div ng-message="minlength" ng-hide="vm.userForm.username.$valid">Mínimo de 6 caracteres</div>
                    </div>
                    <div ng-show="vm.validUser(vm.user.username)">
                        <div ng-message="">Esse nome de usuário já foi escolhido!</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-order="0">
                    <label>Senha</label>
                    <input required ng-minlength="6" type="password" name="password" ng-model="vm.user.password">
                    <div ng-messages="vm.userForm.password.$error" >
                        <div ng-message="minlength" ng-hide="vm.userForm.password.$valid">Mínimo de 6 caracteres</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-order="1">
                    <label>Repetir Senha</label>
                    <input type="password" name="passRepeat" ng-model="vm.user.passRepeat"
                           required match-password="password">
                    <div ng-messages="vm.userForm.passRepeat.$error">
                        <div ng-message="passwordMatch" ng-hide="vm.userForm.passRepeat.$valid">Senhas não coincidem.</div>
                    </div>
                </md-input-container>
                <div layout="row" flex-order="20" layout-align="space-around center">
                    <md-button type="reset" class="md-raised" ng-click="vm.cancel(true)">
                        Cancelar
                    </md-button>
                    <md-button type="submit" flex="100" flex-order="20" class="md-raised md-warn"
                               ng-disabled="vm.userForm.$invalid && !vm.validUser(vm.user.username)"
                               ng-click="vm.addUser(vm.user)">Cadastro</md-button>
                </div>
            </md-input-group>
        </form>
    </md-content>
</md-sidenav>
